.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.stn {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.stn__box {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stn__box--h1 {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

.stn__box--pr {
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 247, 0);
}

.stn__box-second {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.stn__box-second--box {
  width: 250px;
  height: 330px;
  display: flex;
  background-color: #fff2f2;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stn__box-second--box__img {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

.stn__box-second--box__h2 {
  font-size: 23px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.stn__box-second--box__pr {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.stn__box-second--box__img-second {
  width: 100px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

.stn-second {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stn-second__img {
  width: 80%;
  height: 220px;
  -o-object-fit: contain;
     object-fit: contain;
}

.stn-third {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stn-third__h1 {
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 90px;
}

.stn-third__pr {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

header {
  padding: 0;
  font-family: "Graphik";
  color: #000000;
  width: -moz-max-content;
  width: max-content;
  padding-top: 0px;
  display: grid;
  grid-template-columns: auto;
}

.header-bar {
  gap: 10px;
  align-items: center;
  display: flex;
  margin: 5px 60px;
}

.header___first-box {
  display: flex;
  align-items: center;
}
.header___first-box img {
  width: 120px;
  padding-right: 30px;
}
.header___first-box .translate__first-box {
  display: flex;
  gap: 5px;
}
.header___first-box .translate__first-box a {
  text-decoration: none;
  font-size: 18px;
  color: #FFAE00;
  font-weight: 450;
}
.header___first-box .translate__first-box a:hover {
  color: #000000;
  font-weight: 500;
}

::-moz-placeholder {
  padding-left: 10px;
  font-size: 12px;
  font-weight: 440;
}

::placeholder {
  padding-left: 10px;
  font-size: 12px;
  font-weight: 440;
}

.header__search-bar {
  width: 370px;
  display: grid;
  grid-template-columns: auto;
}

.search-box {
  display: flex;
  border: 1.5px solid #FFAE00;
  align-items: center;
  border-radius: 5px;
  height: 25px;
}
.search-box input {
  width: 300px;
  height: 20px;
  border: none;
  outline: none;
}
.search-box button {
  width: 70px;
  height: 25px;
  background-color: #FFAE00;
  border: none;
}

.header__profil-box {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 15px;
}

.profil-box__conteiner {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profil-box__conteiner button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #FFF45F;
  border: none;
  height: 32px;
  width: 32px;
}
.profil-box__conteiner div {
  line-height: 0.2;
  margin-top: 10px;
}
.profil-box__conteiner div span {
  font-size: 10px;
  font-weight: 550;
}
.profil-box__conteiner div p {
  font-size: 10px;
}

.specail-conteiner button {
  background-color: #FFAE00;
}
.specail-conteiner i {
  color: #ffffff;
}

.reklam__bar {
  padding: 0;
  margin: 0;
  margin-top: -7.7px;
  width: 146.16%;
  height: 80px;
  background-color: #FFF45F;
  margin-left: -7.7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.reklam__bar div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.reklam__bar div button {
  width: 170px;
  margin-right: 10px;
  height: 37px;
  font-size: 14px;
  text-align: center;
  font-weight: 550;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}
.reklam__bar div p {
  font-size: 12px;
  font-weight: 550;
  letter-spacing: 0.4px;
}

.reklam-bar__music-box {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.reklam-bar__music-box img {
  width: 110px;
  margin-left: -63px;
  margin-top: 29px;
}

.special-music-box {
  display: flex;
  align-items: center;
  margin-left: 60px;
  margin-right: 20px;
}
.special-music-box img {
  width: 120px;
  margin-left: -75px;
  margin-top: 40px;
}
.special-music-box .special-first {
  margin-top: 41px;
  margin-right: -20px;
}

.about-div-reklam {
  margin-left: -70px !important;
}

nav {
  margin: 0 60px;
  padding: 0;
  font-family: "graphik";
}

.navbar__katalog {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  align-items: center;
}
.navbar__katalog button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 180px;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  border: none;
}
.navbar__katalog img {
  width: 400px;
}
.navbar__katalog div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar__katalog div a {
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.navbar__swiper-slide img {
  width: 1400px;
}

.navbar-our-katalog {
  display: flex;
  align-items: center;
  gap: 38px;
  margin-top: 20px;
  margin: 0 0px;
}
.navbar-our-katalog button {
  border: none;
  background-color: transparent;
  display: grid;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}
.navbar-our-katalog button img {
  width: 130px;
  display: inline-block;
}
.navbar-our-katalog button p {
  font-size: 12px;
  font-weight: 500;
}
.navbar-our-katalog button:hover {
  transform: translateY(-5px);
}/*# sourceMappingURL=style.css.map */