nav {
    margin: 0 60px;
    padding: 0;
    font-family: "graphik";
    margin-bottom: 20px;
}
.navbar__katalog {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 180px;
        font-size: 20px;
        font-weight: 500;
        background-color: transparent;
        border: none;
        margin-top: -20px;
    }
    img {
        width: 400px;
    }
    div {
        display: flex;
        gap: 20px;
        align-items: center;
        a {
            font-size: 18px;
            text-decoration: none;
            color: #000000;   
            font-weight: 500;  
            margin-bottom: 20px;  
         }
    }
}
.navbar__swiper-slide {
    img {
        width: 1400px;
    }
}
.navbar-our-katalog {
    display: flex;
    align-items: center;
    gap: 42px;
    margin-top: 20px;
    margin: 0 0px;
    margin-bottom: 20px;
    button {
        border: none;
        background-color: transparent;
        display: grid;
        justify-content: center;
        align-items: center;
        transition: all 1s ease-in-out;
        img {
            width: 135px;
            display: inline-block;
        }
        p {
            font-size: 16px;
            font-weight: 500;
        }
    }
    button:hover {
        transform: translateY(-5px);
    }
}