doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../style.css")
    title Document
  body
    section.container
      section.Category-section
        p.p Samsung Galaxy A51 4/64GB
        img.img(src="../rating.png" alt="")
        p.p2 24 отзыва
        img.img2(src="../Frame 39.png" alt="")
        img.img3(src="../Frame 40.png" alt="")
        img.img4(src="../Frame 41.png" alt="")
        img.img5(src="../Frame 43.png" alt="")
      img.img6(src="../Frame 38.png" alt="")
      p.p3 Объем памяти
      button.btn 4/64GB
      button.btn2 4/64GB
      p.p4 Цвет
      p.p5 Платформа:
      p.p5 Кол-во SIM карт:
      p.p5 Диагональ экрана:
      p.p5 Камера:
      p.p5 Аккумулятор
      p.p5 Тип матрицы:
      p.p5 Габариты:
      p.p5 Процессор:
      p.p5 Гарантия:
      p.py Android 10
      p.py Android 10
      p.py Android 10
      p.py Android 10
      p.py Android 10
      p.py Android 10
      p.py Android 10
      p.py Android 10
      p.py Android 10
      p.py Android 10
      .box
        p.pb 16 843 000
        p.pb1 Сезонная скидка
        hr.hr
        button.by Добавить в корзину
        img.img__b(src="../Frame 44 (2).png" alt="")
        p.pb2 2 720 000
      .dostavka
        p.pd Доставка
        img.md(src="../fast-delivery 1.png" alt="")
        p.pd1 Доставка курьером,
        img.md(src="../credit-card.png" alt="")
        p.pd1 Доставка курьером,
        img.md(src="../box.png" alt="")
        p.pd1 Доставка курьером,
