doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/Zaytun/scss/pages/anout.css")
    body 
    include header 
    include navbar
     section.aboout-secion
       div.aboout-secion__div
         div.aboout-secion__div-left 
           h1 .aboout-secion__div-left
         div.aboout-secion__div-right
           div.aboout-secion__div-right-top 
            div.top
             div 
              h3 Сортировка:
              a(href="") по популярности 
              a(href="") по новизне
              a(href="") по цене
              a(href="") по рейтингу
             div
              h3 Вид:
              img(src="/Zaytun/Assets/aboutpage/menu-cheese (2).png", alt="")
              img(src="/Zaytun/Assets/aboutpage/menu-grid-o.svg", alt="")
            div 
             button 
               span Бренд:
               b Adidas
             button 
               span Размер:
               b S
             button 
               span Цвет:
               b Белый
             button 
               span Страна:
               b Китай
             a(href="") Очистить фильтр
             
               img(src="/Zaytun/Assets/aboutpage/Frame 47.png", alt="")
           div.aboout-secion__div-right-button 
            div.aboout-secion__div-right-button-cards
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину 
           div.aboout-secion__div-right-button 
            div.aboout-secion__div-right-button-cards
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину 
          div.aboout-secion__div-right-button 
            div.aboout-secion__div-right-button-cards
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину 
          div.aboout-secion__div-right-button 
            div.aboout-secion__div-right-button-cards
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину 
          div.aboout-secion__div-right-button 
            div.aboout-secion__div-right-button-cards
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину 
          div.aboout-secion__div-right-button 
            div.aboout-secion__div-right-button-cards
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину
             div.aboout-secion__div-right-button-card
              div.toop
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Frame 14.png", alt="") 
               img(src="/Zaytun/Assets/aboutpage/card-imgs/Rectangle 23.png", alt="")
               img(src="/Zaytun/Assets/aboutpage/card-imgs/favorite.png", alt="")
              div.button 
               del 2 720 000 <br>
               b 15 920 000
               sapn сум
               p Рубашка LC Waikiki мужская, фиолетовая
               div.ddd 
                button XS
                button XS
                button XS
                button XS
               div
                button.bnt1
                button.bnt2
                button.bnt3
               button В корзину 
    include footer 
          
          