doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../../scss/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
        link(rel="stylesheet prefetch", href="https://cdn.rawgit.com/mfd/e7842774e037edf15919037594a79b2b/raw/665bdfc532094318449f1010323c84013d5af953/graphik.css")
        link(rel="stylesheet", href="../../scss/pages/_main.scss")
    body 
        include header
        nav     
            div.navbar__katalog
                button 
                    i.fa-solid.fa-bars
                    p Каталог товаров
                div 
                    a(href="") Продукты
                    a(href="") Одежда и обувь
                    a(href="") Электроника
                    a(href="") Для дома
                    a(href="") Спорт
                    a(href="") Дети
                    a(href="") Книги
                    a(href="") Бренды
                    a(href="") Зоо
                    a(href="") Компьютеры
                    a(href="") Здоровье
                    a(href="") Ремонт
        main 
            aside 
                span Справочник
                div 
                    p Компания
                    div 
                        a(href="") О нас
                        a(href="") Реквизиты
                        a(href="") Контакты
                        a(href="") Новости
                        a(href="") Вакансии
                div 
                    p Юридическим лицам
                    div 
                        a(href="") Оформление заказа
                        a(href="") Публичная оферта
                        a(href="") Подключение магазина
                        a(href="") Партнерство
                        a(href="") Реклама
            section 
                span О нас
                span Семантический разбор внешних противодействий развеял последние сомнения
                p Для современного мира постоянный количественный рост и сфера нашей активности является качественно новой ступенью стандартных подходов. В частности, дальнейшее развитие различных форм деятельности говорит о возможностях дальнейших направлений развития. Дальнейшее развитие различных форм деятельности создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса приоритизации разума над эмоциями.
                p В своём стремлении улучшить пользовательский опыт мы упускаем, что сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть своевременно верифицированы. Также как выбранный нами инновационный путь является качественно новой ступенью направлений прогрессивного развития. Мы вынуждены отталкиваться от того, что высокое качество позиционных исследований требует от нас анализа новых принципов формирования материально-технической и кадровой базы.
                img(src="../../assets/Rectangle 134.jpg", alt="comapny photo")