doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/scss/pages/etirozlar.css")
        title Zaytun 
    body 
        nav 
            div.nav__half
                h1.nav__logo zaytun  
                div.nav__language 
                    p.rus Рус
                    p.uzb O'zb
                div 
                    input(type="text" placeholder="Что вас интересует?")
                    button Найти
            img(src="/Assets/favorite.png" alt="")
            img(src="/Assets/cart.png" alt="")
            img(src="/assets/cart-1.png" alt="")
        section.katalog  
            div 
                img(width="24" height="24" src="https://img.icons8.com/material-sharp/24/menu--v1.png" alt="menu--v1")
                h4 Каталог товаров   
            div 
                p Продукты
                p Одежда и обувь
                p Электроника
                p Для дома
                p Спорт
                p Дети
                p Книги
                p Бренды
                p Зоо
                p Компьютеры
                p Здоровье
                p Ремонт
        section.etiroz__page 
            .user__menu 
                .user__name 
                    h3 Антон Павлов 
                    p Зарегистрирован: 12.07.2020
                .menu 
                    .card 
                        div 
                            img(src="/assets/usermenu/stack.png" alt="")
                            p Мои заказы
                        .number 4
                    .card 
                        div 
                            img(src="/assets/usermenu/vector.png" alt="")
                            p Избранное
                        .number 2
                    .card 
                        div 
                            img(src="/assets/usermenu/shopping-cart 1.png" alt="")
                            p Корзина
                        .number 12
                    .card 
                        div 
                            img(src="/assets/usermenu/stack.png" alt="")
                            p Промокоды
                    hr
                    .card
                        div 
                            img(src="/assets/usermenu/bell.png" alt="")
                            p Уведомления
                        .number 2
                    hr
                    .card
                        div 
                            img(src="/assets/usermenu/pin.png" alt="")
                            p Мои адреса
                    .card
                        div 
                            img(src="/assets/usermenu/smile.png" alt="")
                            p Мои отзывы
                    .card
                        div 
                            img(src="/assets/usermenu/smile-sad.png" alt="")
                            p Мои жалобы
                    hr
                    .card
                        div 
                            img(src="/assets/usermenu/lock.png" alt="")
                            p Настройки и безопасность
                    .card
                        div 
                            img(src="/assets/usermenu/mail-replay.png" alt="")
                            p Выйти
            .etiroz 
                .my  
                    h3 Мои жалобы
                .etiroz__menu 
                    img(src="/assets/usermenu/sad.png" alt="")
                    div 
                        h4 Вы еще не жаловались
                        p Так держать!
                        button Получить свою награду
        footer 
            .footer__first 
                ul 
                    li Компания
                    li О нас
                    li Реквизиты
                    li Контакты
                    li Новости
                    li Вакансии
                ul 
                    li Юридическим лицам
                    li Оформление заказа
                    li Публичная оферта
                    li Подключение магазина
                    li Партнерство
                    li Реклама
                ul 
                    li Реклама
                    li Доставка
                    li Оплата
                    li Как заказать
                    li Безопасность
                    li Обмен и возврат  
                div     
                    img(src="/assets/facebook.png" alt="")
                    img(src="/assets/telegram-1.png" alt="")
                    img(src="/assets/telegram.png" alt="")
                img( width="300px" height="100px" src="/assets/play.png" alt="")
            .footer__second 
                p Подпишитесь на наши соц. сети
                p Получайте самые свежие новости о нас