header 
    div.reklam__bar
        div.special-music-box   
            img.special-first(src="../../assets/image 1.png", alt="")
            img(src="../../assets/image 2 (1).png", alt="")
        div.about-div-reklam    
            p Летние вечеринки, без музыки?
            button Выбрать колонки
        div.reklam-bar__music-box     
            img(src="../../assets/image 3.png", alt="")
            img(src="../../assets/image 4.png", alt="")
    div.header-bar
        div.header___first-box 
            img(src="../../Assets/zaytun.png", alt="")
            div.translate__first-box 
                a(href="") Рус
                a(href="") O’zb
        div.header__search-bar   
            div.search-box
                input(type="text" placeholder="Что вас интересует?")
                button Найти
        div.header__profil-box
            div.profil-box__conteiner 
                button 
                    i.fa-regular.fa-heart
                div 
                    span Избранное
                    p 2 товара
            div.profil-box__conteiner 
                button 
                    i.fa-solid.fa-cart-shopping
                div 
                    span Корзина
                    p 12 товаров
            div.profil-box__conteiner.specail-conteiner    
                button 
                    i.fa-regular.fa-user
                div 
                    span Андрей Иванов
                    p Мой профиль