doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../../scss/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
        link(rel="stylesheet prefetch" href="https://cdn.rawgit.com/mfd/e7842774e037edf15919037594a79b2b/raw/665bdfc532094318449f1010323c84013d5af953/graphik.css")
        link(rel="stylesheet", href="../../scss/pages/_main.scss")
    body 
        include header 
        include navbar

        main 
            .container 
                section.main-cards

                    div.main-top-cards 
                        h4 Летние товары
                        p Посмотреть все

                    div.main-card-wrap
                        div.main-card 
                            img.imges-card(src="../../Assets/ventilyator.svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="")
                        div.main-card 
                            img.imges-card(src="../../Assets/Rectangle 21.svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="")
                        div.main-card 
                            img.imges-card3(src="../../Assets/Rectangle 23.svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="")
                        div.main-card 
                            img.imges-card4(src="../../Assets/Rectangle 22.svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="")
                        div.main-card 
                            img.imges-card5(src="../../Assets/].svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="")
                        div.main-card 
                            img.imges-card6(src="../../Assets/Rectangle 24.svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="img")

                    div.sale 
                        div.kitekat
                            h4 Порадуйте своих питомцев
                            p Новинки от Kitekat
                            button Купить

                        div.salecha
                            h3 Скидка 25%
                            h4 за первую покупку
                            p получите промокод на 25% за любой товар за первую покупку у нас

                    
                    div.main-top-cards 
                        div 
                            h4 Дачный сезон
                            p.pprr Товары из категории 
                                span Товары для дачи
                        p Посмотреть все
                    div.main-card-wrap
                        div.main-card 
                            img.imges-card(src="../../Assets/Rectangle 19.svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="")
                        div.main-card 
                            img.imges-card2(src="../../Assets/Rectangle 20.svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="")
                        div.main-card 
                            img.imges-card33(src="../../Assets/Rectangle 21 (1).svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="")
                        div.main-card 
                            img.imges-card44(src="../../Assets/Rectangle 22 (1).svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="")
                        div.main-card 
                            img.imges-card55(src="../../Assets/Rectangle 23 (1).svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="")
                        div.main-card 
                            img.imges-card66(src="../../Assets/Rectangle 24 (1).svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="img")


                    div.main-top-cards 
                        h4 Летние товары
                        p Посмотреть все

                    div.main-card-wrap
                        div.main-card 
                            img.imges-card(src="../../Assets/ventilyator.svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="")
                        div.main-card 
                            img.imges-card(src="../../Assets/Rectangle 21.svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="")
                        div.main-card 
                            img.imges-card3(src="../../Assets/Rectangle 23.svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="")
                        div.main-card 
                            img.imges-card4(src="../../Assets/Rectangle 22.svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="")
                        div.main-card 
                            img.imges-card5(src="../../Assets/].svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="")
                        div.main-card 
                            img.imges-card6(src="../../Assets/Rectangle 24.svg", alt="img")
                            div
                                h4 1 295 000
                                p сум
                            p Delta DH92 Вентилятор с #[br] увлажнителем воздуха
                            img(src="../../Assets/starts.svg", alt="img")
                
                section.shirt 
                    img(src="../../Assets/xudi.svg", alt="img")                
                    img(src="../../Assets/xudi.svg", alt="img")                
                    img(src="../../Assets/xudi.svg", alt="img")                
                    img(src="../../Assets/xudi.svg", alt="img")                
                    img(src="../../Assets/xudi.svg", alt="img")                
                    img(src="../../Assets/xudi.svg", alt="img")                
                    img(src="../../Assets/xudi.svg", alt="img")                
                    img(src="../../Assets/xudi.svg", alt="img")                
                    img(src="../../Assets/xudi.svg", alt="img")                
                    img(src="../../Assets/xudi.svg", alt="img")                
        
        include footer 