nav     
    div.navbar__katalog
        button 
            i.fa-solid.fa-bars
            p Каталог товаров
        div 
            a(href="") Продукты
            a(href="") Одежда и обувь
            a(href="") Электроника
            a(href="") Для дома
            a(href="") Спорт
            a(href="") Дети
            a(href="") Книги
            a(href="") Бренды
            a(href="") Зоо
            a(href="") Компьютеры
            a(href="") Здоровье
            a(href="") Ремонт
    div.navbar__swiper-slide
        img(src="../../assets/zbanner-zaytun.png", alt="")  
        //- searching our images
    div.navbar-our-katalog
        button 
            img(src="../../assets/bg.png", alt="")
            p Смартфоны
        button 
            img(src="../../assets/bg1.png", alt="")
            p Телевизоры
        button 
            img(src="../../assets/bg2.png", alt="")
            p Игровые приставки
        button 
            img(src="../../assets/bg3.png", alt="")
            p Ноутбуки
        button 
            img(src="../../assets/bg4.png", alt="")
            p Велосипеды
        button 
            img(src="../../assets/bg5.png", alt="")
            p Надувные бассейны
        button 
            img(src="../../assets/bg6.png", alt="")
            p Верхняя одежда
        button 
            img(src="../../assets/bg7.png", alt="")
            p Напитки