doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../../scss/style.css")
    body 
    main.main 
        //- FIRST-STN
        section.stn
            div.stn__box
                h1.stn__box--h1 Похожие товары
                p.stn__box--pr Посмотреть все
            div.stn__box-second
                div.stn__box-second--box
                    img.stn__box-second--box__img(src="../../Assets/Rectangle 19.png", alt="")
                    h2.stn__box-second--box__h2 7 890 000 <span style="font-size: 17px; font-family:serif; color:grey;"> сум
                    p.stn__box-second--box__pr Asus VivoBook 15” Intel Core <br>i5 16/256GB 1TB
                    img.stn__box-second--box__img-second(src="../../Assets/rating.png", alt="")
                div.stn__box-second--box
                    img.stn__box-second--box__img(src="../../Assets/Rectangle 20.png", alt="")
                    h2.stn__box-second--box__h2 3 210 000 <span style="font-size: 17px; font-family:serif; color:grey;"> сум
                    p.stn__box-second--box__pr Проектор EPSON TL838, FullHD <br>4000Cndl sRGB
                    img.stn__box-second--box__img-second(src="../../Assets/rating.png", alt="")
                div.stn__box-second--box
                    img.stn__box-second--box__img(src="../../Assets/Rectangle 21.png", alt="")
                    h2.stn__box-second--box__h2 6 980 000 <span style="font-size: 17px; font-family:serif; color:grey;"> сум
                    p.stn__box-second--box__pr Asus VivoBook 13” Intel Core i5 8/128GB
                    img.stn__box-second--box__img-second(src="../../Assets/rating.png", alt="")
                div.stn__box-second--box
                    img.stn__box-second--box__img(src="../../Assets/Rectangle 22.png", alt="")
                    h2.stn__box-second--box__h2 12 118 000 <span style="font-size: 17px; font-family:serif; color:grey;"> сум
                    p.stn__box-second--box__pr iPad Pro 12.9” Wi-Fi + Cellular <br>256 GB - Space Gray
                    img.stn__box-second--box__img-second(src="../../Assets/rating.png", alt="")
        //- SECOND-STN
        section.stn-second
            img.stn-second__img(src="../../Assets/banner.png", alt="")
        //- COPY-STN
        section.stn
            div.stn__box
                h1.stn__box--h1 Рекомендуем
                p.stn__box--pr Посмотреть все
            div.stn__box-second
                div.stn__box-second--box
                    img.stn__box-second--box__img(src="../../Assets/Rectangle 19 (1).png", alt="")
                    h2.stn__box-second--box__h2 6 820 000 <span style="font-size: 17px; font-family:serif; color:grey;"> сум
                    p.stn__box-second--box__pr Huawei P40 PRO 8/128GB, <br>белый
                    img.stn__box-second--box__img-second(src="../../Assets/rating.png", alt="")
                div.stn__box-second--box
                    img.stn__box-second--box__img(src="../../Assets/Mask Group.png", alt="")
                    h2.stn__box-second--box__h2 8 240 000 <span style="font-size: 17px; font-family:serif; color:grey;"> сум
                    p.stn__box-second--box__pr Apple iPhone 11 8/128 GB, <br>черный
                    img.stn__box-second--box__img-second(src="../../Assets/rating.png", alt="")
                div.stn__box-second--box
                    img.stn__box-second--box__img(src="../../Assets/Rectangle 21 (1).png", alt="")
                    h2.stn__box-second--box__h2 9 824 000 <span style="font-size: 17px; font-family:serif; color:grey;"> сум
                    p.stn__box-second--box__pr Samsung Galaxy S20 8/128GB
                    img.stn__box-second--box__img-second(src="../../Assets/rating.png", alt="")
                div.stn__box-second--box
                    img.stn__box-second--box__img(src="../../Assets/Rectangle 22 (1).png", alt="")
                    h2.stn__box-second--box__h2 6 118 000 <span style="font-size: 17px; font-family:serif; color:grey;"> сум
                    p.stn__box-second--box__pr Xiaomi Mi 9T, 8/128GB
                    img.stn__box-second--box__img-second(src="../../Assets/rating.png", alt="")
        //- THIRD-STN
        section.stn-third
            h1.stn-third__h1 Описание товара
            p.stn-third__pr Имеется спорная точка зрения, гласящая примерно следующее: явные признаки победы институционализации неоднозначны и будут функционально <br>разнесены на независимые элементы. А ещё представители современных социальных резервов, вне зависимости от их уровня, должны быть указаны как <br>претенденты на роль ключевых факторов. Как принято считать, сделанные на базе интернет-аналитики выводы представлены в исключительно <br>положительном свете. Как принято считать, реплицированные с зарубежных источников, современные исследования формируют глобальную <br>экономическую сеть и при этом - превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. <br>Современные технологии достигли такого уровня, что современная методология разработки обеспечивает широкому кругу (специалистов) участие в <br>формировании экспериментов, поражающих по своей масштабности и грандиозности.
        //- FOUR-STN
        section.stn-four
            h1.stn-four__h1 Характеристики
            div.div
                div.stn-four__box
                    div.stn-four__box--box
                        div.stn-four__box--box__box
                            h3.stn-four__box--box__box--h3 Тип
                            p.stn-four__box--box__box--pr Платформа:
                            p.stn-four__box--box__box--pr Кол-во SIM карт:
                            p.stn-four__box--box__box--pr Диагональ экрана:
                        div.stn-four__box--box__box-second
                            p.stn-four__box--box__box-second--pr Android 10
                            p.stn-four__box--box__box-second--pr 2 SIM + SD Card
                            p.stn-four__box--box__box-second--pr 6.5”
                    div.stn-four__box--box
                        div.stn-four__box--box__box
                            h3.stn-four__box--box__box--h3 Тип
                            p.stn-four__box--box__box--pr Платформа:
                            p.stn-four__box--box__box--pr Кол-во SIM карт:
                            p.stn-four__box--box__box--pr Диагональ экрана:
                        div.stn-four__box--box__box-second
                            p.stn-four__box--box__box-second--pr Android 10
                            p.stn-four__box--box__box-second--pr 2 SIM + SD Card
                            p.stn-four__box--box__box-second--pr 6.5”
                    div.stn-four__box--box
                        div.stn-four__box--box__box
                            h3.stn-four__box--box__box--h3 Тип
                            p.stn-four__box--box__box--pr Платформа:
                            p.stn-four__box--box__box--pr Кол-во SIM карт:
                            p.stn-four__box--box__box--pr Диагональ экрана:
                        div.stn-four__box--box__box-second
                            p.stn-four__box--box__box-second--pr Android 10
                            p.stn-four__box--box__box-second--pr 2 SIM + SD Card
                            p.stn-four__box--box__box-second--pr 6.5”
                div.stn-four__box
                    div.stn-four__box--box
                        div.stn-four__box--box__box
                            h3.stn-four__box--box__box--h3 Тип
                            p.stn-four__box--box__box--pr Платформа:
                            p.stn-four__box--box__box--pr Кол-во SIM карт:
                            p.stn-four__box--box__box--pr Диагональ экрана:
                        div.stn-four__box--box__box-second
                            p.stn-four__box--box__box-second--pr Android 10
                            p.stn-four__box--box__box-second--pr 2 SIM + SD Card
                            p.stn-four__box--box__box-second--pr 6.5”
                    div.stn-four__box--box
                        div.stn-four__box--box__box
                            h3.stn-four__box--box__box--h3 Тип
                            p.stn-four__box--box__box--pr Платформа:
                            p.stn-four__box--box__box--pr Кол-во SIM карт:
                            p.stn-four__box--box__box--pr Диагональ экрана:
                        div.stn-four__box--box__box-second
                            p.stn-four__box--box__box-second--pr Android 10
                            p.stn-four__box--box__box-second--pr 2 SIM + SD Card
                            p.stn-four__box--box__box-second--pr 6.5”
                    div.stn-four__box--box
                        div.stn-four__box--box__box
                            h3.stn-four__box--box__box--h3 Тип
                            p.stn-four__box--box__box--pr Платформа:
                            p.stn-four__box--box__box--pr Кол-во SIM карт:
                            p.stn-four__box--box__box--pr Диагональ экрана:
                        div.stn-four__box--box__box-second
                            p.stn-four__box--box__box-second--pr Android 10
                            p.stn-four__box--box__box-second--pr 2 SIM + SD Card
                            p.stn-four__box--box__box-second--pr 6.5”
        //- FIWE-STN
        section.stn-fiwe
            div.stn-fiwe__box
            div.stn-fiwe__box-second