doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    main 
        section 
                .div
                    h1.div1 zaytun
                    input.div2(type="text")
                    button.div3 Найти
                    .div4
                        .div5
                            <img src="https://img.icons8.com/material-outlined/24/filled-like.png" alt="filled-like"/>
                            p.div6 Избранное
                            p.div7 2 товара
                        .div5
                            <img src="https://img.icons8.com/ios/50/shopping-cart--v1.png" alt="shopping-cart--v1"/>
                            p.div6 Избранное
                            p.div7 12 товаров
                        .div5
                            <img src="https://img.icons8.com/ios/50/user--v1.png" alt="user--v1"/>
                            p.div6 Избранное
                            p.div7 Мой профиль
                .div8
                    <img width="40" height="50" src="https://img.icons8.com/ios-glyphs/60/menu--v3.png" alt="menu--v3"/>
                        p.div9 Каталог товаров
                        p Продукты
                        p Одежда и обувь
                        p Электроника
                        p Для дома
                        p Спорт
                        p Дети
                        p Книги
                        p Бренды
                        p Зоо
                        p Компьютеры
                        p Здоровье
                        p Ремонт